# autosaves
*~
*.swp
*.swo
*.autosave
*.orig

# coverage artifacts
*.gcda
*.gcno
*.gcov
coverage
results.coverage

# executables
restService
testRest

# object files
*.o

# doxygen
html
*.log

# codeblocks
*.cbp
*.layout
*.depend
bin
debug
obj
