# autosaves
*~
*.swp
*.swo
*.autosave

# coverage artifacts
*.gcda
*.gcno
*.gcov
coverage
results.coverage

# executables
trackEx
testTrackEx

# object files
*.o

# doxygen
html
*.log

# codeblocks
*.cbp
*.layout
*.depend
bin
debug
obj
